* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 10px;
}
.big-all{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #2c2c35;
}
.all {
  width: 80%;
  height: 100vh;
  display: flex;
}
.participants-all {
  width: 30%;
  height: 100vh;
  background-color: #666079;
  display: flex;
  justify-content: center;
  align-items: center;
}
.participants {
  width: 90%;
  height: 95%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.chat-all {
  width: 70%;
  height: 100vh;
  background-color: #666079;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat {
  width: 95%;
  height: 90%;
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  overflow: auto;
}
.send-messages {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.text {
  width: 100vh;
  height: 3vh;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.send {
  margin: 8px 0;
  width: 10vh;
  font-weight: bold;
}


.message {
  margin-left: 5px;
  padding: 7px;
  border: 1px solid white;
  border-radius: 10px;
  word-break: normal;
}
.my-messages {
  display: flex;
  margin-right: 3px;
  padding: 7px;
  background-color: lightgreen;
  border: 1px solid white;
  border-radius: 10px;
  word-break: normal;
}
.my-message {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
  height: 4vh;
  justify-content: end;
}
.your-message {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
  height: 4vh;
}
.teto {
  height: 1vh;
}
.listName {
  width: 50%;
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
  padding-left: 10px;
}
@media (max-width: 1500px) {
  .text {
    width: 50vh;
  }
  .all{
    width: 100%;
  }
}
@media (max-width: 900px) {
  .text {
    width: 20vh;
    height: 3vh;
  }
  
}
